{% extends "wagtail_forum/layout.html" %}

{% load wagtailcore_tags %}

{% block main %}
    {{ form.media.css }}

    <div class="container">
        <h1>Create a new topic</h1>
        <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create topic</button>
        </form>
    </div>

    {{ form.media.js }}
    <script defer>
    document.addEventListener('w-draftail:init', ({ detail = {}, target }) => {
        const id = target.id;
        const options = JSON.parse(target.getAttribute('data-w-init-detail-value'));
        const initialValue = target.value ? JSON.parse(target.value) : null;

        const editor = React.createElement(window.Draftail.DraftailEditor, {
            rawContentState: initialValue,
            onSave: (content) => {
                target.value = JSON.stringify(content);
            },
            ...options
        });

        ReactDOM.render(editor, document.createElement('div'));
    });
    </script>
{% endblock %}
